*.py[cod]

# C extensions
*.so

# pycharm
.idea/
.idea

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
dist/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
coverage.xml
test-reports/
.pytest_cache/

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build

# Cookiecutter
output/

# Pyenv
*.python-version

# mypy
.mypy_cache/

# Project-specific
github/
TODO.md

# Mac
.DS_Store

# Jupyter notebook
*.ipynb
.ipynb_checkpoints/

# VSCode
.vscode/
